<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee List</title>
</head>

<body>
    <nav>
        <a href="/coffee/new">Add a New Coffee</a>
    </nav>
    <h1>Welcome to Casa Coffee</h1>
    <ul>
        <% coffee.forEach(coffee=> { %>
            <li><a href="/coffee/<%=coffee._id %>">
                    <%=coffee.name; %>
                </a></li>
            <form action="/coffee/<%= coffee.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
            <a href="/coffee/<%=coffee._id %>/edit">Edit</a>
            <% }) %>
    </ul>
</body>

</html>