
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Coffee List</title>
	</head>
	<body>
		<h1>New Coffee Page</h1>
		<form action="/coffee" method="POST">
			Name: <input type="text" name="name" /><br />
			Description: <input type="text" name="description" /><br />
			Ingredients: <input type="text" name="ingredients" /><br />
            Instructions: <input type="text" name="instructions" /><br />
            Image link: <input type="text" name="img" /><br />
			<input type="submit" value="Add Coffee" />
		</form>
	</body>
	</body>
    
</html>

